@import url(https://fonts.googleapis.com/css?family=Raleway);

html{
	font-family: Raleway, sans-serif;
	overflow: hidden;
	background: #1c1c1c;
/*	height: 100%;*/
	color: white;
/*	padding: 15px;*/
/*	margin:0px;*/

}

body {
	margin:0px;
	padding:0px;
}
p {
	margin: 0;
}

a {
	text-decoration: none;
	color: white;
}

/*smaller header 1 text*/
sm {
	font-weight: normal;
	font-size: 50%;
}

/* tone row */
row{
	display: inline-block;
	font-size: 30px;
}
/* matrix output*/
k {
	font-weight: normal; /* they weren't normal by default? */
}

/* button */
button {
	/*text*/
	font-family: Raleway, sans-serif;
	font-size: 30px;
	text-decoration: none;
	color: white;
	text-align: center;
	
	/*everything else*/
	outline: none;
	background:#fff;
	border: none;
	background-color: #1c1c1c;	/* mean green? */
    padding: 5px 15px;
	border-radius: 10px;
	/*display: inline-block;*/
	/*margin: 20px 20px;*/
}
button:hover {
    background-color: #2c2c2c;
}

/* Table */
table {
/*	width : 120 px;*/
/*	width: 80 px;*/
	border-collapse: collapse;	/* causing extra border problem */
	font-size: 30px;
	
}
th, td {
   border: 1px solid white; 
}

tr:nth-child(even) {
	background-color: #3b3c3d;
}

.hoverTable{
	width:100%; 
	border-collapse:collapse; 
}

/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
	background-color: #2859a3;
}
/*
td, th {
  position: relative;
}
td:hover::after,
th:hover::after{
  content: "\00a0";
  position: absolute;
  background-color: #2859a3;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

table {
  overflow: hidden;
}



*/







#matrix {
	display: none;
}



/*page panels*/

#left-panel {
/*    float: left;*/
/*    width: 20%;*/
/*	display: inline-block;*/
	
	background-color:#2859a3;
	width:200px;
	height:100%;
	display:block;
	position:absolute;
	padding: 20px;
/*	left:-200px;*/
	top:0px;
/*	transition:left 0.3s linear;*/
}

#main-panel {
/*    width: 30px;*/
	position:absolute;
	display:inline-block;
	left:250px;
	padding-left: 30px;
}

#white-panel {
	background-color:#fff;
	position:absolute;
	display:block;
	left:900px;
	padding-left: 20px;
	height:100%;
	width:60%;
	top:0px;
}

#settings {
/*	background: #ddd;*/
	padding:15px 0px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;

}

.footer {
	height: 50px;
	width: 100%;
	margin-top: 120%;
}

i {
	margin:10px;
}

@media only screen and (max-width: 1100px) {
    my-mobile {
/*        display: block;*/
    }
	html {
/*		display: block;*/
	}
	body {
/*		display: none;*/
	}
	#main-panel {
		display: block;
		padding-top: 35px;
	}
	row {
		display: inline;
	}
}


/**************************************************/
/*toggle box*/
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 54px;
	height: 25px;
	float: right;
	margin-right: 30px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #1c1c1c;;
	-webkit-transition: .2s;
	transition: .2s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .3s;
	transition: .3s;
}
input:checked + .slider {
	background-color: #91bbff;
}
input:focus + .slider {
	box-shadow: 0 0 1px #91bbff;
}
input:checked + .slider:before {
	-webkit-transform: translateX(70px);
	-ms-transform: translateX(70px);
	transform: translateX(28px);
}
/* Rounded sliders */
.slider.round {
	border-radius: 30px;
}
.slider.round:before {
	border-radius: 50%;
}
