/******/
/*main*/
/******/

html{
	font-family: Raleway, sans-serif;
	overflow: hidden;
	background: var(--black-accent);
	color: var(--white-accent);
	/*	height: 100%;*/
	/*	padding: 15px;*/
	/*	margin:0px;*/
}

body {
	margin:0px;
	padding:0px;
}
/*page panels*/

#left-panel {
/*    float: left;*/
/*    width: 20%;*/
/*	display: inline-block;*/
	
	background-color: var(--theme-color);
	width:200px;
	height:100%;
	display:block;
	position:absolute;
	padding: 20px;
/*	left:-200px;*/
	top:0px;
/*	transition:left 0.3s linear;*/
}

#main-panel {
/*    width: 30px;*/
	position:absolute;
	display:inline-block;
	left:250px;
	padding-left: 50px;
}

#white-panel {
	background-color: var(--white-accent);
	position:absolute;
	display:block;
	left:900px;
	padding-left: 20px;
	height:100%;
	width:60%;
	top:0px;
}

#settings {
/*	background: #ddd;*/
	padding:15px 0px;
	border-bottom: 1px solid var(--white-accent);
/*	border-top: 1px solid var(--white-accent);*/

}


p {
	margin: 0;
}

a {
	text-decoration: none;
	color: color: var(--white-accent);
}

/*smaller header 1 text*/
sm {
	font-weight: normal;
	font-size: 50%;
}

/* tone row */
row{
	display: inline-block;
	font-size: 30px;
}
/* matrix output*/
k {
	font-weight: normal; /* they weren't normal by default? */
}

/**********/
/* button */
/**********/
button {
	/*text*/
	font-family: Raleway, sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: var(--white-accent);
	text-align: center;
	font-weight: bold;
	
	/*everything else*/
	outline: none;
	background: var(--white-accent);
	border: none;
	background-color: var(--black-accent);	/* mean green? */
    padding: 7px 22px;
	border-radius: 10px;
	display: inline;
	/*display: inline-block;*/
	/*margin: 20px 20px;*/
}

/*********/
/* Table */
/*********/
table {
/*	width : 120 px;*/
/*	width: 80 px;*/
	border-collapse: collapse;	/* causing extra border problem */
	font-size: 30px;
	
}
th, td {
   border: 1px solid var(--white-accent); 
}

tr:nth-child(even) {
	background-color: #3b3c3d;
}

.hoverTable{
	width:100%; 
	border-collapse:collapse; 
}

/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
	background-color: var(--theme-color);
}
/*
td, th {
  position: relative;
}
td:hover::after,
th:hover::after{
  content: "\00a0";
  position: absolute;
  background-color: #2859a3;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

table {
  overflow: hidden;
}
*/

#matrix {
	display: none;
}

i {
	margin:10px;
}


/**************************************************/
/*toggle box*/
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 54px;
	height: 25px;
	float: right;
	margin-right: 30px;
	border-radius: 50px;
/*	border: 2px solid var(--theme-dark);*/
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--black-accent);
	-webkit-transition: .2s;
	transition: .2s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 4px;
	background-color: var(--white-accent);
	-webkit-transition: .3s;
	transition: .3s;
}
input:checked + .slider {
	background-color: var(--theme-dark);
}
input:focus + .slider {
	box-shadow: 0 0 1px #ff0000;
}
input:checked + .slider:before {
	-webkit-transform: translateX(70px);
	-ms-transform: translateX(70px);
	transform: translateX(28px);
}
/* Rounded sliders */
.slider.round {
	border-radius: 30px;
}
.slider.round:before {
	border-radius: 50%;
}




#color-switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#color-switcher li {
  	float: left;
/*  width: 30px;*/
	width: 15%;
	height: 30px;
	margin: 0 12px 0px 0;
/*	padding-left: 5px;*/
	border-radius: 30px;
/*  	border: 2px solid var(--theme-dark);*/
}

#wave {
  background: #55aad1;
}
#poupon {
  background: #beb048;
}
#pistacio {
  background: #55b483;
}
#autumn {
  background: #cd552c;
}


.custom input[type="text"] {
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
	background: --white-accent;
	
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
	
	margin: 1px;
}


/*for smaller screens*/
@media only screen and (max-width: 1400px) {
	row {
		font-size: 20px;
	}
	#main-panel{
		padding-left: 20px;
		padding-top: 35px important!;
		display: block;
	}
	#white-panel {
		width:60%;
		left:700px;
		padding-left: 35px;
	}
	table {
		font-size: 20px;
	}
	row {
		display: inline;
	}
}
